{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>
        Login
    </title>
{% endblock meta %}

{% block content %}
    <main class="flex min-h-dvh w-full items-center justify-center flex-col gap-4"> 
        <form method="POST" action="" class="text-white p-8 flex flex-col gap-8 items-center justify-center max-w-xl w-full mx-auto bg-black">
            {% csrf_token %}

            <p class="text-2xl text-bold">
                LOGIN TO YOUR ACCOUNT
            </p>
            
            {% for field in form %}
                <div class="field-wrapper flex flex-col w-full gap-4">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}
                </div>
            {% endfor %}

            <button class="bg-white text-black py-2 px-6 text-xl">LOGIN</button>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} 

        <div>
            Don't have an account yet?
            
            <a href="{% url 'main:show_register' %}" class="underline">Register</a>
        </div>
    </main>
{% endblock content %}
