{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="min-h-dvh w-full">
        <section class="h-[75dvh] w-full overflow-hidden relative">
            <img class="w-full h-full object-cover" src="{% static 'image/football_field.png' %}" alt="football field">

            <div class="absolute inset-0 h-full flex flex-col gap-8 text-white justify-center max-w-6xl w-full mx-auto">
                <div class="flex flex-col gap-4">
                    <p class="text-6xl">
                        Your one stop shop
                    </p>
                    
                    <p class="text-6xl">
                        For your <span class="text-green-400">kicking</span> needs
                    </p>
                </div>

                <div class="w-full">
                    <a href="{% url 'products:show_products' %}">
                        <button class="bg-black p-4 hover:bg-white hover:text-black duration-200">
                            See All Products
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <section class="h-[75dvh] w-full flex items-center justify-center flex-col gap-12">
            {% if products %}
                <p class="text-4xl">Featured Products</p>

                <div class="grid grid-cols-4 w-full max-w-6xl mx-auto gap-4">
                    {% for product in products %}
                        {% include 'partials/featured_card.html' with product=product %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-4xl">Featured Products</p>

                <div class="h-64 flex items-center justify-center">
                    <p class="text-black/40">No Products Yet</p>
                </div>
            {% endif %}
        </section>
    </main>
{% endblock content %}
