{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% include 'partials/navbar.html' %}

    <main class="relative flex justify-center w-full min-h-dvh flex-col">

        <section class="relative border-b h-[75dvh] w-full overflow-hidden w-full mt-16">
            <img class="absolute w-full h-full object-cover" src="{% static 'images/football_field.png' %}" alt="Football Field" >
        
            <div class="absolute inset-0 z-10 flex">
                <div class="max-w-6xl mx-auto w-full flex justify-center flex-col gap-8">
                    <div class="flex flex-col gap-2">
                        <p class="text-white text-6xl">Your one stop shop</p>
                        <p class="text-white text-6xl">for your <span class="text-green-400">kicking</span> needs</p>
                    </div>
                    
                    <a href="{% url 'main:show_products' %}">
                        <button class="bg-black text-white p-4 w-32">
                            See All Products
                        </button>
                    </a>
                </div>
            </div>
        </section>

        <section class="min-h-[75dvh] w-full flex items-center justify-center flex-col gap-20">
            <div class="text-4xl font-bold">
                Featured Products
            </div>

            <div class="grid grid-cols-4 w-full max-w-6xl mx-auto gap-4">
                {% for product in products %}
                    {% if product.is_featured %}
                        {% include 'partials/product_card.html' with product=product %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- <div class="mt-24">
            <div>
                <p>
                    Made by: {{ name }} from {{ class }}
                </p>
                
                <h5>Last login session: {{ last_login }}</h5>
                
                <h5>Current user: {{ current_user }}</h5>
            </div>

        <hr> -->

    {% include 'partials/footer.html' %}
{% endblock content %}
